<!doctype html>
<html ng-app="radarApp">
  <head>
    <script src="js/angular.min.js"></script>
    <script src="js/radar.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <h2>Radar</h2>


    <div ng-controller="feedsController as feedsList">
      <ul class="feeds-list"><span>Feeds: {{feedsList.feeds.length}}</span>
        <li ng-repeat="feed in feedsList.feeds">
        	<span class="{{feed.categories|stringify|lowercase}}">{{feed.title}}</span>
           	<p>
           		<span class="description">{{feed.description}}</span> 
           		<br>
           		Categorias: 
           		<span ng-repeat="cat in feed.categories" class="cat-{{cat|lowercase}}"> [{{cat}}] </span>
           	</p> 
        </li>
      </ul>
    </div>


    <div ng-controller="entriesController as entriesList">
      <ul class="entries-list"><span>Entries: {{entriesList.entries.length}}</span>
        
        <li ng-repeat="entry in entriesList.entries | orderBy:'date' : true">
          
          <span class="{{entry.feed_categories|stringify|lowercase}}">
            <a TARGET="_blank" href="{{entry.url}}">{{entry.title}}</a>
          </span> <span>{{entry.date|date:'dd/MM/yyyy'}}</span>
            <p>
              <span class="description">{{entry.descriptionClean}}</span> 
              <br>
              <span ng-if="entry.tags">tags:<span ng-repeat="tag in entry.tags" class="tag-{{tag|lowercase}}"> [{{tag}}] </span></span>
              <br>
              feed: <a TARGET="_blank" href="{{entry.feed_url}}">{{entry.feed}}</a>
            </p> 
            
        </li>
     
      </ul>
    </div>



  </body>
</html>