<!doctype html>
<html ng-app="radarApp">
  
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Radar de noticias de Artes Multimediales">
    <meta name="keywords" content="RSS,Aggregator,ATAM">
    <meta name="author" content="lf">

    <script src="js/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    

    <link rel="stylesheet" href="piel/semantic.min.css">


  </head>



  <body>

   
    <div class="ui container">
      
      <div class="ui vertical segment">
        <h1 class="ui header">RAM
          <div class="sub header">Radar de noticias de Artes Multimediales</div>
        </h1>
      </div>

      <div  class="ui vertical segment" ng-controller="feedsController as feedsList">
        <div class="ui horizontal relaxed celled list"><h2>{{feedsList.feeds.length}} Feeds</h2>
          <div class="item" ng-repeat="feed in feedsList.feeds">
          	<a class="{{feed.categories|stringify|lowercase}}" TARGET="_blank" title="{{feed.description}}" href="{{feed.url}}">{{feed.title}}</a>             
          </div>
        </div>
          
      </div>


      
      <div ng-controller="entriesController as entriesList">
      
        <h2 class="ui header">{{entriesList.entries.length}} Entradas</h2>
        
        <div class="ui form">

          <div class="field">
            <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
          </div>

          <div class="field">
            <select id="feedz" class="ui dropdown" multiple="" name="feeds" ng-model="feedsSelected">
              <option value="Dataisnature">Dataisnature</option>
              <option value="TechCrunch">TechCrunch</option>
              <option value="Create Digital Music">Create Digital Music</option>
            </select>
          </div>

        </div>

        <div class="ui vertical segment" ng-repeat="entry in entriesList.entries | orderBy:'date' : true | searchFor:searchString | feedsToggle:feedsSelected">
          
          <h3 class="{{entry.feed_categories|stringify|lowercase}} ui header">
            <a TARGET="_blank" href="{{entry.url}}">{{entry.title}}</a>
          </h3> 

          <p>{{entry.descriptionClean}}</p> 

          <div ng-if="entry.tags">
            <div ng-repeat="tag in entry.tags | limitTo: 10" class="tag-{{tag|lowercase}} ui tag label">{{tag}}</div>
          </div>

          <div class="ui left rail">
            <div class="ui basic compact right floated segment">
              <a TARGET="_blank" href="{{entry.feed_url}}">{{entry.feed}}</a> <span>{{entry.date|date:'dd/MM/yyyy'}}</span>
            </div>
          </div>
            
        </div>
       
      </div>
    </div>
  </div>
    
<script src="piel/semantic.min.js"></script>

    <script src="radar.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#feedz').dropdown('set selected', ["Dataisnature","TechCrunch","Create Digital Music"]);
      //$('#feedz').dropdown('placeholder', 'value');

    });
  </script>

  </body>
</html>