<!doctype html>

<html>
  
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Radar de noticias de Artes Multimediales">
    <meta name="keywords" content="RSS,Aggregator,ATAM">
    <meta name="author" content="lf">
    <link rel="stylesheet" href="piel/semantic.min.css">
  </head>



  <body>
   
    <div class="ui container">
      
      <div class="ui vertical segment">
        <h1 class="ui header">RAM
          <div class="sub header">Radar de noticias de Artes Multimediales</div>
        </h1>
      </div>

      <!-- <div  class="ui vertical segment" ng-controller="feedsController as feedsList">
        <div class="ui horizontal relaxed celled list"><h2>{{feedsList.feeds.length}} Feeds</h2>
          <div class="item" ng-repeat="feed in feedsList.feeds">
          	<a class="{{feed.categories|stringify|lowercase}}" TARGET="_blank" title="{{feed.description}}" href="{{feed.url}}">{{feed.title}}</a>             
          </div>
        </div>
          
      </div> -->

      
      <div class="main">
      
        <h2 class="ui header"><TMPL_VAR NAME=NENTRADAS>Entradas</h2>
        
        <!-- <div class="ui form">

          <div class="field">
            <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
          </div>

          <div class="field">
            <select id="feedz" class="ui dropdown" multiple="" name="feeds" ng-model="feedsSelected">
              <option value="Dataisnature">Dataisnature</option>
              <option value="TechCrunch">TechCrunch</option>
              <option value="Create Digital Music">Create Digital Music</option>
            </select>
          </div>

        </div> -->

        <TMPL_LOOP NAME="ENTRADA">
          
          <div class="ui vertical segment">
            
            <h3 class="ui header">
              <a TARGET="_blank" href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=TITLE></a>
            </h3> 

            <p><TMPL_VAR NAME=DESCRIPTION></p> 
           
            <TMPL_LOOP NAME="TAGS">
              <div class="tag-<TMPL_VAR NAME=TAGNAME> ui tag label"><TMPL_VAR NAME=TAGNAME></div>
            </TMPL_LOOP>
           
            <div class="ui left rail">
              <div class="ui basic compact right floated segment">
                <a TARGET="_blank" href="<TMPL_VAR NAME=FEED_URL>"><TMPL_VAR NAME=FEED></a>
                <span><TMPL_VAR NAME=DATE></span>
              </div>
            </div>
              
          </div>

        </TMPL_LOOP>
       
      </div>

    </div>
 
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>  
    <script src="piel/semantic.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        //$('#feedz').dropdown('set selected', ["Dataisnature","TechCrunch","Create Digital Music"]);
        //$('#feedz').dropdown();

      });
    </script>

  </body>
</html>