<h2>Actualizada la DB</h2>
<div id="content">
    <% FOR p in nv.keys %>
    <div>
    <strong><% $p %></strong>
        <% FOR a in nv.$p %>
            <i><% nv.$p.$a %></i>
        <% END %>
    </div>
    <% END %>
<div id="footer">
    <p> Volver a la <a href="/">página principal</a>.  </p>
</div>
</div>
