<!doctype html>
<html ng-app="radarApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="js/radar.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <h2>Radar</h2>

    <div ng-controller="feedsController as feedsList">
    <ul class="feeds-list"><span>Feeds: {{feedsList.length}}</span>
        <li ng-repeat="(feedTitle, feedData) in feedsList.feeds">
        	<span class="{{feedData.categories|stringify|lowercase}}">{{feedTitle}}</span>
           	<p>
           		<span class="description">{{feedData.description}}</span> 
           		<br>
           		Categorias: 
           		<span ng-repeat="cat in feedData.categories" class="cat-{{cat|lowercase}}">{{cat}} </span>
           	</p> 
        </li>
      </ul>
    </div>


  </body>
</html>