<!DOCTYPE html>
<html>
	<head>
		<title>el Reidar</title>
		<style type="text/css">
		body{font-family: monospace;}
		</style>
	</head>
	<body>
		<header>
			<h1>El Radario</h1>
			<nav></nav>
		</header>
		
		<section>
			{% for entry in entries %}
				<article id="#{{ entry.title|replace({' ': '-'})|lower }}">
					<header><h1>{{ entry.title }}</h1></header>
					<p>{{entry.descriptionClean}}</p>
					<footer></footer>
				</article>
			{% endfor %}
		</section>
		
		<footer></footer>
	
	</body>
</html>


